{% extends "layout.html.twig" %}

{% block title %}Promouvoir un admin{% endblock %}

{% block content %}

  <div class="container mt-5 mb-5 sticky-footer">
    {{ form(form)}}
  </div>

{% endblock %}